.cero-7{
    background: -webkit-linear-gradient(#eee, #efecd7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.cero-14{
    background: -webkit-linear-gradient(#eee, #efe7b1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.cero-21{
    background: -webkit-linear-gradient(#eee, #f5edb4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.cero-28{
    background: -webkit-linear-gradient(#fdfb9d, #f5edb4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.cero-35{
    background: -webkit-linear-gradient(#fdfb9d, #f7e984);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.cero-42{
    background: -webkit-linear-gradient(#e6e338, #f7e984);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.cero-49{
    background: -webkit-linear-gradient(#e6e338, #deae48);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.cero-56{
    background: -webkit-linear-gradient(#f5f10f, #ecaf2e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.cero-63{
    background: -webkit-linear-gradient(#ffce38, #ecaf2e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.cero-70{
    background: -webkit-linear-gradient(#ffca26, #ffa018);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.cero-77{
    background: -webkit-linear-gradient(#fb9815, #ff6a18);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.cero-84{
    background: -webkit-linear-gradient(#f78201, #fb5d06);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.cero-91{
    background: -webkit-linear-gradient(#f71b01, #fb5d06);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.cero-98{
    background: -webkit-linear-gradient(#f71b01, #f30404);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}